# Python
**/__pycache__/
*.py[cod]
*.pkl
.env
.env.*
.venv/
venv/
backend/.venv/

# Tools / caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# VS Code / IDE
.vscode/
.idea/

# Node (quand on ajoutera le front)
frontend/node_modules/

# Divers
*.log
.DS_Store
Thumbs.db