# Fichiers générés par Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

# Environnement virtuel
venv/
.venv/

# Cache d'outils de développement
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Fichiers d'environnements
.env
.env.*
env/*.env

# Fichiers de configuration IDE
.vscode/
.idea/
*.code-workspace

# --- OS junk
.DS_Store
Thumbs.db